---
title: NELFUND Reopens Student Loan Portal for 48 Hours to Complete 2024/2025
  Verification
date: 2025-10-11T03:21:31.783Z
image: /images/uploads/nelfund.png
category: Latest
---
The Nigerian Education Loan Fund (NELFUND) has announced the reopening of its Student Loan Portal for 48-hour to allow students to complete their verification process for the 2024/2025 academic session.

According to the management, the temporary reopening is aimed at giving applicants who were unable to finalise their verification earlier an opportunity to do so. NELFUND urged all affected students to take advantage of the limited timeframe to ensure their details are properly verified for the disbursement of funds.

The agency reiterated its commitment to ensuring that all eligible students have access to financial support for their education in line with the objectives of the Student Loan Scheme.

![](/images/uploads/new-nelfund.jpg)

C﻿ONQUER FROM SOCRATESNEWS REPORTS